{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<!-- Full Page Image Header with Vertically Centered Content -->

<div class="container-fluid masthead h-100" id="container-fluid">
	<div class="row h-100 align-items-center">
		<div class="col-12 text-center">
			<h1 class="font-weight-light"></h1>
			<p class="lead"></p>
		</div>
	</div>
	<!-- jumbotron -->
	<div class="jumbotron">
		<h2 class="card-title h2 my-4 py-2">
			Your one stop shop for all the best Irish craft beers
		</h2>
		<p class="mb-4 pb-2 px-md-5 mx-md-5">
			Register to read our blogs on the best places to buy craft beer and where
			to enjoy them.
		</p>
		<a class="btn-jumbo" href="{% url 'register' %}"> Register Now</a>
	</div>
</div>
<!-- jumbotron -->

<!-- Full Page Image Header with Vertically Centered Content -->

<!-- Section: Products-->
<section class="categories">
  <div class="container">
   <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">
    Our new releases
  </h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">
    These are just some of the finest ales, stouts and lagers we have sourced for all over the land! 
    click on the link below to take you to these new releases and many more beers. Sure you’ll have one for the road?
  </p>
    <!-- Card deck -->
    <div class="card-deck">
      <!-- Card -->
      <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay" style="height:300px">
          <img
            class="rounded-circle mr-3"
            width="100%"
            height="300"
            src="https://produits.bienmanger.com/34719-0w470h470_Hara_Irish_Beers_Discovery_Offer.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Beers</h4>
          <!--Text-->
          <p class="card-text">
            click here to see some of the best craft beers ireland has to offer
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <a href="{% url 'products' %}" class="btn-success" role="button" aria-pressed="true">beers</a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay" style="height:300px">
          <img
            class="rounded-circle mr-3"
            width="100%"
            height="300"
            src="https://produits.bienmanger.com/34719-0w470h470_Hara_Irish_Beers_Discovery_Offer.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Mixed cases</h4>
          <!--Text-->
          <p class="card-text">
            click here to see some of the best craft beers ireland has to offer
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <a href="{% url 'products' %}" class="btn-success" role="button" aria-pressed="true">beers</a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay" style="height:300px">
          <img
            class="rounded-circle mr-3"
            width="100%"
            height="300"
            src="https://produits.bienmanger.com/34719-0w470h470_Hara_Irish_Beers_Discovery_Offer.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Gifts</h4>
          <!--Text-->
          <p class="card-text">
            click here to see some of the best craft beers ireland has to offer
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <a href="{% url 'products' %}" class="btn-success" role="button" aria-pressed="true">beers</a>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</section>
  <!-- Card deck -->
<section class="text-center my-5">
	<div class="row">
		<div class="col-lg-10 col-xl-8 mx-auto">
			<div class="p-5 bg-white shadow rounded">
				<!-- Bootstrap carousel taken from snippets section off bootstrapious.com.  Tailored for my own specs-->
				<div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
					<!-- Bootstrap carousel indicators [nav] -->
					<ol class="carousel-indicators mb-0">
						<li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>


					<!-- Bootstrap inner [slides]-->
					<div class="carousel-inner px-5 pb-4">
						<!-- Carousel slide-->
						<div class="carousel-item active">
							<div class="media"><img class="rounded-circle img-thumbnail" src="https://res.cloudinary.com/mhmd/image/upload/v1579676165/avatar-1_ffutqr.jpg" alt="" width="75">
								<div class="media-body ml-3">
									<blockquote class="blockquote border-0 p-0">
										<p class="font-italic lead">
											<i class="fa fa-quote-left mr-3 text-success"></i>The website has so much choice 
                                            which is great for a craft beer snob like me. Great products and delivery was quick. </p>
										<footer class="blockquote-footer">James Collins 
											<cite title="Source Title">from Randalstown</cite>
										</footer>
									</blockquote>
								</div>
							</div>
						</div>

						<!-- Carousel slide-->
						<div class="carousel-item">
							<div class="media"><img class="rounded-circle img-thumbnail" src="https://res.cloudinary.com/mhmd/image/upload/v1579676165/avatar-2_gibm2s.jpg" alt="" width="75">
								<div class="media-body ml-3">
									<blockquote class="blockquote border-0 p-0">
										<p class="font-italic lead">
											<i class="fa fa-quote-left mr-3 text-success"></i>Great beers and even better
                                            prices. The blog also helps me find a few hidden gems to drink at on my travels round the island
                                            </p>
										<footer class="blockquote-footer">Sean Graham
											<cite title="Source Title">from Toome</cite>
										</footer>
									</blockquote>
								</div>
							</div>
						</div>

						<!-- Carousel slide-->
						<div class="carousel-item">
							<div class="media"><img class="rounded-circle img-thumbnail" src="https://res.cloudinary.com/mhmd/image/upload/v1579676165/avatar-3_hdxocq.jpg" alt="" width="75">
								<div class="media-body ml-3">
									<blockquote class="blockquote border-0 p-0">
										<p class="font-italic lead">
											<i class="fa fa-quote-left mr-3 text-success"></i>I got my amazing husband some 
                                            of these great beers for his birthday. 
                                            The ease of the webpage made it super quick and easy to order.  Great delivery too</p>
										<footer class="blockquote-footer">Cathy Maguire
											<cite title="Source Title">from Toome, Ballymena, Ahogill</cite>
										</footer>
									</blockquote>
								</div>
							</div>
						</div>
					</div>


					<!-- Bootstrap controls [dots]-->
					<a class="carousel-control-prev width-auto" href="#carouselExampleIndicators" role="button"
						data-slide="prev">
						<i class="fa fa-angle-left text-dark text-lg"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next width-auto" href="#carouselExampleIndicators" role="button"
						data-slide="next">
						<i class="fa fa-angle-right text-dark text-lg"></i>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap carousel taken from snippets section off bootstrapious.com. Tailored for my own specs-->
</section>
<!-- Email subscription form-->
<div class="container-fluid subscribe">
	<div class="row align-items-center subscribe02">
		<div class="col-md-12">
			<h3>Subscribe to Newsletter</h3>
			<p class="text-big">
				For all the latest beers and blogs on irish craft beer subscribe to
				our page
			</p>
		</div>
		<div class="col-md-12">
			<div class="form-holder">
				<form action="." method="POST">
					{% csrf_token %}
					<div class="form-group">
						<input
                type="email"
                name="email"
                id="email"
                placeholder="type your email address"
              />
						<button type="submit" class="submit btn-primary">Signup</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Email subscription form-->
{% endblock %}
