{% extends 'base.html' %} {% load staticfiles %}
{% block content %}
<!-- Full Page Image Header with Vertically Centered Content -->

<div class="container-fluid masthead h-100" id="container-fluid">
	<div class="row h-100 align-items-center">
		<div class="col-12 text-center">
			<h1 class="font-weight-light"></h1>
			<p class="lead"></p>
		</div>
	</div>
</div>
<!-- Full Page Image Header with Vertically Centered Content -->
<div class="container">
	<!-- Card deck -->
	<div class="card-deck">

		<!-- Card -->
		<div class="card mb-4">

			<!--Card image-->
			<div class="view overlay">
				<img class="rounded-circle mr-3" width="300" height="300" src="https://produits.bienmanger.com/34719-0w470h470_Hara_Irish_Beers_Discovery_Offer.jpg" alt="Card image cap">
				<a href="#!">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!--Card content-->
			<div class="card-body">

				<!--Title-->
				<h4 class="card-title">Beers</h4>
				<!--Text-->
				<p class="card-text">click here to see some of the best craft beers ireland has to offer</p>
				<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
				<button type="button" class="btn btn-light-blue btn-md">Beers</button>

			</div>

		</div>
		<!-- Card -->

		<!-- Card -->
		<div class="card mb-4">

			<!--Card image-->
			<div class="view overlay">
				<img class="rounded-circle mr-3" width="300" height="300" src="https://produits.bienmanger.com/34719-0w470h470_Hara_Irish_Beers_Discovery_Offer.jpg" alt="Card image cap">
				<a href="#!">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!--Card content-->
			<div class="card-body">

				<!--Title-->
				<h4 class="card-title">Beers</h4>
				<!--Text-->
				<p class="card-text">click here to see some of the best craft beers ireland has to offer</p>
				<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
				<button type="button" class="btn btn-light-blue btn-md">Beers</button>

			</div>

		</div>
		<!-- Card -->

		<!-- Card -->
		<div class="card mb-4">

			<!--Card image-->
			<div class="view overlay">
				<img class="rounded-circle mr-3" width="300" height="300" src="https://produits.bienmanger.com/34719-0w470h470_Hara_Irish_Beers_Discovery_Offer.jpg" alt="Card image cap">
				<a href="#!">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!--Card content-->
			<div class="card-body">

				<!--Title-->
				<h4 class="card-title">Beers</h4>
				<!--Text-->
				<p class="card-text">click here to see some of the best craft beers ireland has to offer</p>
				<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
				<button type="button" class="btn btn-light-blue btn-md">Beers</button>

			</div>

		</div>
		<!-- Card -->

	</div>
</div>
<!-- Card deck -->
{% endblock %}