{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container-fluid">
	<div class="row no-gutter">
		<!-- The image half -->
		<div class="col-md-6 d-none d-md-flex bg-image"></div>


		<!-- The content half -->
		<div class="col-md-6 bg-light">
			<div class="login d-flex align-items-center py-5">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-xl-7 mx-auto">
							<form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
								<fieldset class="form-group">
									<legend>Login</legend>
									{% csrf_token %}
									{{ user_form | as_bootstrap }}

									<p><a href="{% url 'password_reset' %}">Forgot my password</a></p>

									<button type="submit" class="btn btn-primary">Login</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
{% endblock %}